@model Empty_TaskApplication.Models.DateInfo
@{
    ViewBag.Title = "Create Date Info";
}
  
<h2>Create</h2>

@using (Html.BeginForm())
{
<body>
    
    @Html.LabelFor(model => model.date) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <input type="date" name="date" />
    @Html.ValidationMessageFor(model => model.date,"* Please enter date", new { @class = "text-danger" })
    <br /><br />
    @Html.LabelFor(model => model.isHoliday) &nbsp;&nbsp;&nbsp; @Html.EditorFor(model => model.isHoliday)
    <br /><br />
    <input type="submit" value="Create" class="btn btn-default" />    
</body>
}
